.bulletinDetail img
{
    width: 100%;
    height: 400px;
}

.content
{
    margin-top: 15px;
    line-height: 38px;
    font-weight: bold;
    font-size: 2em;
    font-family: georgia;
}

.commentContent
{
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}

.commentsSection
{
    margin-top:86px;
}


.addCommentDiv
{
    margin-top:10px;
    margin-bottom:20px;
}

.comments{
    height:300px;
    overflow: auto
}